{% extends "base.html" %}

{% block content %}
<main role="main">
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12">
                <br>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Joined</th>
                                <th>Last login</th>
                                <th>Login count</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in results %}
                            <tr>
                                <td>{{ item.username }}</td>
                                <td>
                                    <p>{{ item.email }}</p>
                                </td>
                                <td>{{ item.joined.strftime('%d/%m/%Y') }}</td>
                                <td>{{ item.last_login.strftime('%d/%m/%Y %H:%M:%S')}}</td>
                                <td>{{ item.login_count }}</td>
                                <td>
                                    <form action="/accounts/user-delete/{{ item.id }}" method="post">
                                        <button class="btn btn-danger"><i class="fa fa-trash"></i></button><br>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> 
        </div>
        <div class="row">
            {% if page_controls %}
            <div class="col">
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-sm float-right">
                        {% for control in page_controls %}
                        <li
                            class="page-item {% if control.is_disabled %}disabled{% endif %} {% if control.is_active %}active{% endif %}">
                            <a class="page-link" {% if control.url %}href="{{ control.url }}"
                                {% endif %}>{{ control.text }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            {% endif %}
        </div>
    </div>
    </div>
    </div>
    <hr>
    </div> <!-- /container -->
</main>
{% endblock %}